name: build-rng
on:
  push:
    branches:
      - main
    paths:
      - odd/**
  workflow_dispatch:
jobs:
  update-odd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: main
      - name: Checkout TEI Stylesheets
        uses: actions/checkout@v3
        with:
          repository: TEIC/Stylesheets
          path: ./tei
      - name: Update RelaxNG Schemata
        run: |
          curl -X GET "https://github.com/Saxonica/Saxon-HE/raw/main/12/Java/SaxonHE12-1J.zip"
          ls -la
          unzip *.zip
          ls -la
          cd main/odd
          which java
          OIFS="$IFS"
          IFS=$'\n'
          for odd_name in *.odd; do
            rng_name="$(echo "$odd_name"| sed -E 's#\.[^.]*$##g')";
            $GITHUB_WORKSPACE/tei/bin/teitorelaxng "${odd_name}" "../rng/${rng_name}.rng";
          done;
          IFS="$OIFS"
          git config --global user.name 'ODD Bot'
          git config --global user.email '<>'
          git add ../rng/*.rng
          git diff-index --quiet HEAD || (git commit -am "Workflow: Generate RelaxNG Schemata" && git push)